.container{
    height: 6vh;
    display: flex;
}

.box{
    box-sizing: border-box;
    flex: 0 0 auto;
    height: 6vh;
    background-color: #a9334c;
    text-align: center;
    color: white;
}

.selectBox{
    border-bottom: 1px solid white;
}